<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.theone.mvvm.core">

    <uses-permission
        android:name="android.permission.READ_PHONE_STATE"
        tools:ignore="ManifestOrder" />
    <uses-permission android:name="android.permission.ACCESS_NOTIFICATION_POLICY" />
    <!-- Android 8.0(仅限应用版本更新方面) -->
    <uses-permission android:name="android.permission.REQUEST_INSTALL_PACKAGES" />
    <!-- 允许装载和卸载文件系统权限 -->
    <uses-permission android:name="android.permission.MOUNT_UNMOUNT_FILESYSTEMS"
        tools:ignore="ProtectedPermissions" />

    <uses-permission android:name="android.permission.VIBRATE" />

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.MANAGE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />

    <uses-permission android:name="android.permission.FOREGROUND_SERVICE" />

    <application
        android:allowBackup="true"
        android:networkSecurityConfig="@xml/network_security_config"
        android:supportsRtl="true"
        tools:ignore="UnusedAttribute">

        <activity android:name="com.theone.mvvm.core.ui.activity.ImagePreviewActivity"/>

        <activity android:name="com.theone.mvvm.core.ui.activity.AppUpdateActivity"
            android:theme="@style/ActivityTransparentTheme"/>

        <activity
            android:name="com.theone.mvvm.core.ui.activity.TheErrorActivity"
            android:launchMode="singleTask"
            android:screenOrientation="portrait"
            android:theme="@style/TranslucentTheme" />

        <service
            android:name="com.theone.mvvm.core.service.DownloadService"
            android:exported="false"
            android:label="@string/download_service_name" />

        <meta-data
            android:name="com.theone.mvvm.core.app.util.glide.OkHttpGlideModule"
            android:value="GlideModule" />

        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="${applicationId}.fileProvider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_path" />
        </provider>

    </application>

</manifest>